@*@{
        ViewBag.Title = "";

    }*@
<br />
<h1 style="color: darkgray;"> Acerca de Nosotros</h1>

<div class="row_1">
    <main aria-labelledby="title">
        @*<h2 id="title">@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>*@


        <br/><br /><br /><br /><br />
        <h3 style="color: red;"> Misión </h3>
        <p style="text-align: justify; color: floralwhite;">
            Somos una empresa de línea terrestre nacional prestando servicios terrestres seguros, confiables, amigables y de calidad a nuestros clientes
            con presencia en todo el territorio nacional. Siendo una de las empresas de transporte de pasajeros más grande y potente  del país.
            Promoviendo la conectividad con fin de estímulo turístico, de recreación o de negocios y comercio a nivelintermunicipal, contando con una alta gama de buses,
            una atención al cliente de calidad, manejo correcto y constante de nuestra empresa, contribuyendo a la sustentabilidad del medio ambiente.
        <p /><br /><br />

        <h3 style="color: red;"> Visión </h3>
        <p style="text-align: justify; color: floralwhite">
            "Ser la flota terrestre más grande, moderna y eficiente con los más altos niveles de calidad, teniendo siempre presente al usuario, manteniendo
            como prioridad a la seguridad tanto a los pasajeros y de los buses como se debe de visitantes e instalaciones. Adaptable a los cambios
            del entorno tanto a nivel social, cultural, político, económico, ambiental y tecnológico, buscando a diario una posición más clara y
            concisa online, proyectando hacia una imagen excelente de SERRO ante el mundo. Además, hacer de esta un ejemplo hacia la competencia
            para poder adquirir poco a poco una cobertura total en el continente."
        </p>


    </main>
</div>