@*@{
        ViewBag.Title = "";

    }*@
<br />
<h1 style="color: darkgray;"> Acerca de Nosotros</h1>

<div class="row_1">
    <main aria-labelledby="title">
        @*<h2 id="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>*@

        <br /><br /><br /><br /><br />

        <main>
            <address>
                Bogotá D.C.<br />
                Cll 95 15 - 23<br />
                <abbr title="Phone">Phone:</abbr>
                601 478 37 23 / +57 311-215-55-60 Ext.1200
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </main>

</div>